:root {
    --BackgroundColor: #4d2503;
    --BaseColor: #052935;
    --TextColor: rgb(200 200 200);
    --TextColor2: rgb(207 216 236 / 60%);
    --TextColor3: rgb(134 163 235);
    --LinkColor: rgb(3 218 198);
    --BtnColor: rgb(66 72 101);
    --BtnShadowColor: rgb(207 216 236 / 30%);
    --ErrorColor: rgb(207 102 121);
    --SuccessColor: rgb(76 175 80);
    --AlertColor: #939000;
    --IconSize: 1.5rem;
}

@font-face {
    font-family: 'vazir';
    src: url('/fonts/vazir.ttf') format('truetype');
}
* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}   

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
#root, #__next {
    isolation: isolate;
}
body {
    font-family: 'vazir';
    text-align: justify;
    font-size: 1rem;
    background: var(--BackgroundColor);
    color: var(--TextColor);
    /*direction: rtl;*/
    margin: 0;
    background: #37510d;
    background-image: url(../shelemAssets/bg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#heder, #main, #foter {
    width: 100%;
    position: fixed;
    overflow: hidden;
}
#heder, #foter {
    height: 4rem;
    background: var(--BaseColor);
    z-index: 100;
    align-items: center;
    font-size: .8rem;
}
#heder {
    top:0;
}
#main {
    top: 4rem;
    height: calc(100% - 8rem);
    z-index: 90;
}
/*------loding-------*/
#load {
    height: 100vh;
    width: 100%;
    background: #291200;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 110;
}
.lds-hourglass,
.lds-hourglass:after {
  box-sizing: border-box;
}
.lds-hourglass {
    /* display: inline-block; */
    position: relative;
    width: 60px;
    height: 60px;
    margin: auto;
}
    .lds-hourglass:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 8px;
        box-sizing: border-box;
        border: 20px solid #976f3b;
        border-color: #976f3b transparent #976f3b transparent;
        animation: lds-hourglass 1.2s infinite;
    }
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
/*------loding-------*/
#foter {
    bottom: 0;
}
#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#containerMain {
    position: fixed;
    top: calc(50% - 5rem);
    left: calc(50% - 30%);
    background: transparent;
    width: 60%;
    height: 10rem;
}
#startPage {
    width: 100%;
    height: 100vh;
    background: #37510d;
    background-image: url(../shelemAssets/bg.png);
    background-position: center;
    background-size: cover;
    z-index: 101;
    position: fixed;
    display:none;
}
    #startPage .around {
        width: 100%;
        height: 80%;
        margin: 10% 0;
    }
.startPageText {
    width: 40%;
    padding: 5px;
    text-align:center
}
.startPageProgressBar {
    width: 80%;
    background: #ff00de;
    position: fixed;
    bottom: 1rem;
    margin: auto;
    height: 20px;
    left: 10%;
}
    .startPageProgressBar div {
        height: 20px;
        background: #00e5ff;
    }
    .startPageProgressBar span {
        position: absolute;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 10px;
        margin: 3px;
    }
.flex, .flexC {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: flex;
}
.around {
    justify-content: space-around !important;
}
.flexC {
    flex-direction: column;
}
.imgC {
    width: 110px;
    height: 110px;
    padding: 10px;
    background-image: url(/shelemAssets/imgC.png);
}
.imgC img{
    border-radius: 50%;
    border: 3px solid #976f3b;
}
    
.btn {
    display: inline-block;
    border-radius: 12px;
    box-shadow: var(--BtnShadowColor) 0px 9px 20px -10px;
    box-sizing: border-box;
    color: var(--TextColor);
    margin: 2px 0;
    padding: 8px 18px;
    user-select: none;
    border: 0;
    background-color: var(--BtnColor);
    height: 50px;
    width: 200px;
}
.btn-Greenlight {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 3px solid #976f3b;
}
.textCenter {
    text-align: center;
}
.btnCancel {
    border: 3px solid #976f3b;
}
.sdf56s2 {
    width: 3.5rem;
    height: 3.5rem;
    border: .2rem solid transparent;
    border-radius: 12px;
    margin: 0 7px;
    overflow: hidden;
}
    .sdf56s2 img {
        width: 3.5rem;
        height: 3.5rem;
    }
    .sdf56s4 i {
        font-size: 0.7rem;
        color: #fbff00;
    }
    .sdf56s4 span {
        margin: 5px;
    }
.iconMsg1, .iconMsg2, .iconSticker {
    padding: 5px;
    background: var(--BtnColor);
    border-radius: 7px;
    margin: auto;
    margin: 5px;
}
.iconBtn{
    padding: 5px;
    margin: 5px;
}
.userInfo {align-items:center}
.chatBox {
    margin: 0 7px;
}
#hokm {
    z-index: 110;
    position: fixed;
    font-size: 2rem;
    line-height: 2rem;
    color: #ffbb00;
    width: 4rem;
    background: var(--BaseColor);
    text-align: center;
    height: 2rem;
    left: calc(50% - 2rem);
}